// This stylesheet is injected into the iframe

// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'


// ====================================
// Styles

.inlinegui-editable
	border: 1px solid green
	display: inline-block

	&:focus
		outline: none
		border: 1px solid yellow

	&.inlinegui-dirty
		border: 1px solid orange
