// This stylesheet is injected into the iframe

// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'


// ====================================
// Styles

body
	color: red !important
