// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// Ubuntu Font
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

// Font Awesome
@import url(/vendor/font-awesome/css/font-awesome.css)


// ====================================
// Variables

colorDisabledBackground = #999
colorCancelBackground = #ee1c25
colorSaveBackground = #8dc73f
colorPageBackground = #31afbe
colorSiteBackground = #e76267
colorInactiveBackground = colorDisabledBackground
colorBackground = #f4f3ee
colorForeground = #353c46
colorMenuForeground = white
colorLabelForeground = #363a43
colorBorder = #d8d7d2

colorLoaderSave = #5FE451
colorLoaderCancel = colorCancelBackground

fontFamilyHeader = Oswald, Ubuntu, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
fontFamilyBody = Ubuntu, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

heightNavbar = 40px


// ====================================
// Styles

// ------------------------------------
// Structure

*
	// Make paddings be included within the width
	box-sizing border-box

body
	font-smooth: always
	-webkit-font-smoothing: antialiased
	color-profile: sRGB
	rendering-intent: auto
	text-rendering: optimizeLegibility
	font-family: fontFamilyBody

.loadbar
	z-index: 1000
	height: 2px
	position: fixed
	top: 0
	left: 0
	opacity: 0
	width: 0
	transition: all 0.5s ease-out
	animation: loadbar 5s linear infinite
	&.active
		opacity: 1
	background: colorLoaderSave
	&.cancel
		background: colorLoaderCancel

@keyframes loadbar
	0%
		width: 0
	50%
		width: 100%
		left: 0
	100%
		left: 100%

.button
.link
	text-transform: uppercase
	cursor: pointer

.app
	opacity: 0
	position: relative
	padding-top: heightNavbar

	&.app-ready
		opacity: 1

	&.app-site
		.switch
		nav.navbar
			background: colorSiteBackground
			.button-save
			.button-cancel
				display: none
		.title
			color: colorSiteBackground

	&.app-page
		.switch
		nav.navbar
			background: colorPageBackground
		.title
			color: colorPageBackground

.sitebar
	width: 100%
	border: 0
	margin: 0
	padding: 0

.navbar
	user-select: none
	position: fixed
	top: 0
	left: 0
	width:  100%
	height: heightNavbar
	line-height: 100%
	color: colorMenuForeground
	background: colorInactiveBackground
	transition: all 0.3s ease-out
	z-index: 500

	.left
	.right
		display: inline-block
		position: absolute
		top: 0
		left: 0
		z-index: 300

	.left
		left: 2.5%
	.right
		text-align: right
		left: none
		right: 0
		z-index: 299

	.button
	.link
	.status
		display: inline-block
		margin: 0 0.5em 0 0

	.link
		line-height: (heightNavbar)
		font-size:   (heightNavbar / 2)
		margin: 0 1em 0 0
		font-family: fontFamilyHeader
		font-weight: 400
		position: relative
		opacity: 0.5

		&:not(.disabled)
			&:hover
				text-decoration: underline
			&:hover
			&.active
				opacity: 1

		&.disabled
			opacity: 0
			cursor: default

		.switch
			transition: all 0.3s ease-out
			position: absolute
			display: none
			border: 1px solid rgba(0,0,0, 0.1)
			border-left: none
			border-top: none
			height: 10px
			width: 10px
			left: 40%
			bottom: -5px
			transform: rotate(45deg)
		&.active
			.switch
				display: inline-block

	.status
		font-size: 75%
		font-weight: 500
		opacity: 0.90

	.button-save
	.button-cancel
		line-height: (heightNavbar / 12 * 8)
		font-size:   (heightNavbar / 12 * 4.5)
		padding: 0 (heightNavbar / 12 * 3)
		font-weight: 500
		border-radius: 3px
		border: 1px solid rgba(0,0,0, 0.2)
		border-top: 1px solid rgba(255,255,255, 0.1)
		border-left: 1px solid rgba(255,255,255, 0.1)
		text-shadow: 1px 1px 1px rgba(0,0,0, 0.2)
		min-width: 110px
		text-align: center
		transition: all 0.2s ease-out
		&:hover
			border: 1px solid rgba(0,0,0, 0.5)
			border-top: 1px solid rgba(255,255,255, 0.2)
			border-left: 1px solid rgba(255,255,255, 0.3)
			text-shadow: 1px 1px 1px rgba(0,0,0, 0.3)
		&.active
		&.disabled
			background: colorDisabledBackground
			cursor: default
		&.active
			.inactive-text
				display: none
			.active-text
				display: inline
		.active-text
			display: none

	.button-save
		background: colorSaveBackground
	.button-cancel
		background: colorCancelBackground

	.button-toggle
		line-height: (heightNavbar)
		font-size:   (heightNavbar / 12 * 4.5)
		padding: 0 (heightNavbar / 12 * 3)
		margin: 0
		background: rgba(0,0,0, 0.1)
		border-left: 1px solid rgba(0,0,0, 0.2)
		.icon
			display: inline-block
			transition: all 0.2s ease-out
		&.active
			.icon
				transform: rotate(180deg)

.mainbar
	width: 100%
	padding: 1em 2.5%

	background: colorBackground
	color: colorForeground
	transition: all 0.5s ease-out
	overflow: auto
	z-index: 400

	header
		margin-bottom: 0.5em

		.title
			font-size: 150%
			font-weight: 400
			text-transform: uppercase

	label
		color: colorLabelForeground
		font-weight: 500
		display: block
		margin: 0.2em 0

	.content-table
		line-height: 200%
		font-size: 80%
		display: table
		border-collapse: collapse

		.content-row
			display: table-row
			color: black
			border-bottom: 1px solid rgba(0,0,0, 0.2)
		.content-row-header
			font-weight: 500
			color: black
			border-bottom: 1px solid black
		.content-cell
			display: table-cell
			width: 20%

		.button
			font-weight: 500
			opacity: 0
			transition: all 0.2s linear
			&:hover
				color: colorSiteBackground

		.content-row:hover .button
			opacity: 1
