// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// Ubuntu Font
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic)

// Font Awesome
@import url(/vendor/font-awesome/css/font-awesome.css)


// ====================================
// Variables

colorDisabledBackground = #999
colorCancelBackground = #ee1c25
colorSaveBackground = #8dc73f
colorPageBackground = #31afbe
colorSiteBackground = #e76267
colorAdminBackground = purple
colorInactiveBackground = colorDisabledBackground
colorBackground = #f4f3ee
colorForeground = #353c46
colorMenuForeground = white
colorLabelForeground = #363a43
colorBorder = #d8d7d2

colorLoaderSave = #5FE451
colorLoaderCancel = colorCancelBackground

fontFamilyHeader = Oswald, Ubuntu, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
fontFamilyBody = Ubuntu, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

heightMenu = 40px
heightSwitch = 5px

paddingBodySides = 15px

// ====================================
// Mixins

header()
	line-height:   heightMenu
	font-size:    (heightMenu * 0.7)

headerLink()
	line-height:  (heightMenu)
	font-size:    (heightMenu / 2)
	padding:     0 paddingBodySides

headerButton()
	line-height:  (heightMenu / 12 * 8)
	font-size:    (heightMenu / 12 * 4.5)
	padding:    0 (heightMenu / 12 * 3)

headerToggle()
	line-height:  (heightMenu)
	font-size:    (heightMenu / 12 * 4.5)
	padding:    0 (heightMenu / 12 * 3)

bottomArrow()
	&:before
		top: (heightMenu - heightSwitch)
		left: 50%
		buttom: auto
		right: auto
	&:after
		height: (heightSwitch * 1.5)
		width: 40%

		top: auto
		left: 30%
		bottom: 0
		right: auto

rightArrow()
	&:before
		top: (heightMenu / 2 - heightSwitch)
		left: auto
		bottom: auto
		right: (heightSwitch * -1)
	&:after
		height: 40%
		width: (heightSwitch * 1.5)
		top: 30%
		left: auto
		bottom: auto
		right: 0


// ====================================
// Styles

// ------------------------------------
// Everything

*
	// Make paddings be included within the width
	box-sizing border-box

body
	font-smooth: always
	-webkit-font-smoothing: antialiased
	color-profile: sRGB
	rendering-intent: auto
	text-rendering: optimizeLegibility
	font-family: fontFamilyBody
	color: colorForeground

body
.modal
	background: colorBackground


// ------------------------------------
// Loader

.loadbar
	z-index: 1000
	height: 2px
	position: fixed
	top: 0
	left: 0
	opacity: 0
	width: 0
	transition: all 0.5s ease-out
	animation: loadbar 5s linear infinite
	&.active
		opacity: 1
	background: colorLoaderSave
	&.cancel
		background: colorLoaderCancel

@keyframes loadbar
	0%
		width: 0
	50%
		width: 100%
		left: 0
	100%
		left: 100%


// ------------------------------------
// Buttons

.toggle
.button
.link
	text-transform: uppercase
	cursor: pointer

.button-add
.button-drop
	&
	li:first-child .icon
		headerButton()
		padding: 0

	overflow: visible
	display: inline-block
	min-width: 120px

	position: absolute  // take out of the flow so the LIs don't push outside elements around
	top: 0
	right: 0

	color: rgba(255, 255, 255, 0.85)
	font-family: fontFamilyHeader
	font-weight: bold

	border-top: 1px solid rgba(255, 255, 255, 0.2)
	border-left: 1px solid rgba(255, 255, 255, 0.1)
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	border-right: 1px solid rgba(0, 0, 0, 0.2)
	border-radius: 5px
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35)

	li
		display: none
		width: 100%
		padding: 0 (heightMenu / 12 * 3)

	li:first-child
		display: block

		.icon
			position: absolute
			top: 0
			right: 0
			text-align: center
			width: 25px

	li:hover
		background: rgba(0, 0, 0, 0.05)

.button-drop
	// li:first-child .icon
	//	border-left: 1px solid rgba(0, 0, 0, 0.25)

	&:hover
		li
			display: block
			border-bottom: 1px solid rgba(255, 255, 255, 0.25)
		li:first-child
			border-bottom: 1px solid rgba(0, 0, 0, 0.25)
			background: rgba(0, 0, 0, 0.05)
		li:last-child
			border-bottom: none

.button-save
.button-cancel
	headerButton()
	min-width: 110px
	font-weight: 500
	border-radius: 3px
	border: 1px solid rgba(0,0,0, 0.2)
	border-top: 1px solid rgba(255,255,255, 0.1)
	border-left: 1px solid rgba(255,255,255, 0.1)
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.2)
	text-align: center
	transition: all 0.2s ease-out

	&:hover
		border: 1px solid rgba(0,0,0, 0.5)
		border-top: 1px solid rgba(255,255,255, 0.2)
		border-left: 1px solid rgba(255,255,255, 0.3)
		text-shadow: 1px 1px 1px rgba(0,0,0, 0.3)
	&.active
	&.disabled
		background: colorDisabledBackground
		cursor: default
	&.active
		.inactive-text
			display: none
		.active-text
			display: inline
	.active-text
		display: none

.button-save
	background: colorSaveBackground
.button-cancel
	background: colorCancelBackground


// ------------------------------------
// Structure

.app
	font-size: 0rem
	line-height: 0rem
	opacity: 0
	position: relative
	padding-top: heightMenu

	&.app-ready
		.modal
			display: none

	&.app-ready
		opacity: 1

	&.app-login
		.menu
		.show-admin
		.show-site
		.show-page
			display: none
		.login.modal
			display: block

	&.app-admin
		.menu
			background: colorAdminBackground
		.link-site
		.link-page
		.show-login
		.show-site
		.show-page
			display: none

	&.app-site
		.menu
			background: colorSiteBackground
		.link-page
		.show-login
		.show-admin
		.show-page
			display: none
		.link-admin
			rightArrow()

	&.app-page
		.menu
			background: colorPageBackground
		.show-login
		.show-admin
		.show-site
			display: none
		.link-admin
		.link-site
			rightArrow()

.page-edit
	margin-bottom: -5px

.page-preview
	background: white
	width: 100%
	border: 0
	margin: 0
	padding: 0
	box-shadow: inset 0 0 10px black
	padding: 10px

.site-add
.site-list
	header
		color: colorAdminBackground
	.button-add
		background: colorAdminBackground

.page-list
	.title
		color: colorSiteBackground
	.button-add
		background: colorSiteBackground

.page-edit
	.title
		color: colorPageBackground

.menu
	user-select: none
	position: fixed
	top: 0
	left: 0
	width:  100%
	height: heightMenu
	line-height: 100%
	color: colorMenuForeground
	box-shadow: 0 0 4px black
	outline: 1px solid rgba(0, 0, 0, 0.4)
	z-index: 500

	.left
	.right
		display: inline-block
		position: absolute
		top: 0
		left: 0
		z-index: 300

	.left
		left: 0
	.right
		text-align: right
		left: none
		right: 0
		z-index: 299

	.toggle
	.button
	.link
	.status
		display: inline-block
		margin: 0 0.5em 0 0

	.link
		headerLink()
		bottomArrow()

		font-family: fontFamilyHeader
		font-weight: 400
		position: relative

		&:hover
			text-decoration: underline

		&.link-admin
			z-index: 5
			&, &:after
				background: colorAdminBackground
			&:before
				border: heightSwitch solid colorAdminBackground

		&.link-site
		&.link-page
			padding-left: (paddingBodySides * 1.5)
			margin-left:  (paddingBodySides * -1)

		&.link-site
			z-index: 4
			&, &:after
				background: colorSiteBackground
			&:before
				border: heightSwitch solid colorSiteBackground

		&.link-page
			z-index: 3
			&, &:after
				background: colorPageBackground
			&:before
				border: heightSwitch solid colorPageBackground

		&:before
			width: 0
			height: 0
			//border-radius: 3px
			transform: rotate(45deg)
			content: ''
			position: absolute
			margin-left: (heightSwitch * -1)
			//box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)

		&:after
			position: absolute
			display: block
			content: ''

	.status
		line-height: (heightMenu)
		font-size: (heightMenu / 3)
		font-weight: 500
		opacity: 0.90

	.toggle
		text-align: center
		width: 40px
		headerToggle()
		margin: 0

		.icon
			display: inline-block
			transition: all 0.2s ease-out

		&.active
			background: rgba(0,0,0, 0.1)

.main
	position: relative
	font-size: 1rem
	line-height: 1rem
	width: 100%
	padding: 1em paddingBodySides
	transition: all 0.5s ease-out
	overflow: auto

	header
		position: relative
		margin-bottom: 0.5em
		header()

	.title
		font-weight: 400
		text-transform: uppercase

	label
		color: colorLabelForeground
		font-weight: 500
		display: block
		margin: 0.2em 0

	.content-table
		width: 100%
		line-height: 200%
		font-size: 80%
		display: table
		border-collapse: collapse

		.content-row
			display: table-row
			color: black
			border-bottom: 1px solid rgba(0,0,0, 0.2)

		.content-cell-name
			cursor: pointer

		.content-row-header
			font-weight: bold
			color: black
			border-bottom: 1px solid black

		.content-cell
			display: table-cell
			width: 30%
			padding: 0 2% 0 0

		&.files
			&.content-cell-name
				width: 50%
			&.content-cell-tags
			&.content-cell-date
				width: 25%

		&.sites
			&.content-cell-name
				width: 100%

		.content-buttons
			opacity: 0
			float: right
			.button
				margin-right: 0.5em

		.button:hover
		.content-cell-name:hover .content-name
			text-decoration: underline
			color: colorSiteBackground

		.content-row:hover
			font-weight: bold

		.content-row:hover
			.content-buttons
				opacity: 1

.modal
	position: absolute
	display: block
	top: 5rem
	left: 20%
	width: 60%
	z-index: 1000

	border: 1px solid black
	box-shadow: 0 0 3px black

	header
		color: white
		background: colorAdminBackground

.login
	text-align: center
	border: none
	box-shadow: none