// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// Ubuntu Font
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

// Font Awesome
@import url(/vendor/font-awesome/css/font-awesome.css)


// ====================================
// Variables

colorBackgroundDisabled = #999
colorCancelBackground = #ee1c25
colorSaveBackground = #8dc73f
colorPageBackground = #31afbe
colorSiteBackground = #e76267
colorBackground = #f4f3ee
colorForeground = #353c46
colorMenuForeground = #f3f3f1
colorLabelForeground = #363a43
colorBorder = #d8d7d2

colorLoaderSave = #5FE451
colorLoaderCancel = colorCancelBackground


// ====================================
// Styles

// ------------------------------------
// Structure

*
	// Make paddings be included within the width
	box-sizing border-box

body
	font-smooth: always
	-webkit-font-smoothing: antialiased
	color-profile: sRGB
	rendering-intent: auto
	text-rendering: optimizeLegibility
	font-family: Ubuntu

aside.loadbar
	height: 2px
	position: fixed
	top: 0
	left: 0
	opacity: 0
	width: 0
	transition: all 0.5s ease-out
	animation: loadbar 5s linear infinite
	&.active
		opacity: 1
	background: colorLoaderSave
	&.cancel
		background: colorLoaderCancel

@keyframes loadbar
	0%
		width: 0
	50%
		width: 100%
		left: 0
	100%
		left: 100%

.app
	&.site
		.switch
		nav.topbar
			background: colorSiteBackground
			.save
			.cancel
				display: none
		.title
			color: colorSiteBackground
	&.page
		.switch
		nav.topbar
			background: colorPageBackground
		.title
			color: colorPageBackground

nav.topbar
	color: colorMenuForeground
	border-bottom: 1px solid colorBorder
	text-align: center

	.links
	.buttons
	.status
		display: inline-block
		width: 30%

	.links
		text-align: left
		padding: 0.3em
	.buttons
		width: 35%
		text-align: right
		float: right

	.site
	.page
	.save
	.cancel
	.toggle
		display: inline-block
		text-transform: uppercase
		cursor: pointer

	.toggle
		background: rgba(0,0,0, 0.1)
		border-left: 1px solid rgba(0,0,0, 0.2)
		padding: 0.4em 0.5em
		width: 2em
		.icon
			display: inline-block
			transition: all 0.2s ease-out
		&.active
			.icon
				transform: rotate(180deg)

	.save
	.cancel
		font-size: 90%
		font-weight: 500
		border-radius: 3px
		margin: 0.25em
		padding: 0.25em
		border: 1px solid rgba(0,0,0, 0.2)
		border-top: 1px solid rgba(255,255,255, 0.1)
		border-left: 1px solid rgba(255,255,255, 0.1)
		text-shadow: 1px 1px 1px rgba(0,0,0, 0.2)
		width: 110px
		text-align: center
		transition: all 0.2s ease-out
		&:hover
			border: 1px solid rgba(0,0,0, 0.5)
			border-top: 1px solid rgba(255,255,255, 0.2)
			border-left: 1px solid rgba(255,255,255, 0.3)
			text-shadow: 1px 1px 1px rgba(0,0,0, 0.3)
		&.active
		&.disabled
			background: colorBackgroundDisabled
			cursor: default
		&.active
			.inactive-text
				display: none
			.active-text
				display: inline
		.active-text
			display: none

	.save
		background: colorSaveBackground
	.cancel
		background: colorCancelBackground

	.link
		font-size: 120%
		font-weight: 400
		margin: 0 0.25em
		position: relative
		&:hover
			text-decoration: underline
		.switch
			position: absolute
			display: none
			border: 1px solid colorBorder
			border-left: none
			border-top: none
			height: 10px
			width: 10px
			top: 25px
			left: 35%
			transform: rotate(45deg)
		&.active
			.switch
				display: inline-block

	.status
		font-size: 75%
		font-weight: 500
		opacity: 0.90

section.main
	background: colorBackground
	color: colorForeground
	max-height: 0
	overflow: hidden
	transition: all 0.5s ease-out

	&.active
		max-height: 200px

	.container
		padding: 1em

	header
		margin-bottom: 0.5em

		.title
			font-size: 150%
			font-weight: 400
			text-transform: uppercase

	label
		color: colorLabelForeground
		font-weight: 500
		display: block
		margin: 0.2em 0